.container {
  width: 36vw;
  margin: 2rem auto;
}

.container h1{
    margin: 4px 0px;
}
.container h4{
    margin: 5px 0px;
}

/* Responsiveness */

@media screen and (max-width: 1400px) {
  .container{
    width: 50vw;
  }
}
@media screen and (max-width: 900px) {
  .container{
    width: 70vw;
  }
}
@media screen and (max-width: 500px) {
  .container{
    width: 80vw;
  }
  .container h1{
    font-size: 1.5rem;
  }
  .container h4{
    font-size: 0.8rem;
  }
}

