.formContainer {
  border: 2px solid black;
  padding: 2rem 4rem;
  margin: 5rem auto;
  width: 30vw;
  border-radius: 5px;
}
.contactHeading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.inputTag {
  margin-left: 1rem;
  padding: 2.5px 5px;
  width: 10vw;
}
.field {
  margin: 1rem 0rem;
}

.btn {
  /* width: 10vw; */
  padding: 2.5px 10px;
  margin: 10px 0px;
  font-family: cursive;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
}
